/*********************
        BODY
*********************/

body {
    height: 100vh;
}
.page-container {
    background-color: #141922;
    height: calc(100% -90px);
}

/******** MEDIA QUERY ********/
/* DESKTOP */
@media screen and (max-width: 1100px) {

}
/* TABLET */
@media screen and (max-width: 700px) {

}
/* PHONE */
@media screen and (max-width: 600px) {

}
/******** /MEDIA QUERY ********/
