/*********************
        COMMON
*********************/
/* .container {
    max-width: 100;
    margin: auto;
} */
/* section {
    margin: 3.125rem 0;
} */
.list-style-none {
    list-style: none;
}
text-center {
    text-align: center;
}
