/*********************
        HEADER
*********************/
header{
    position: fixed;
    z-index: 100;
    right: 0;
    left: 230px;
    height: 90px;
    background-color: #080b12;
    opacity: 0.5;
    padding-right: 10px;
}