/*********************
        MAIN
*********************/
main {
    padding-top: 90px;
    width: 100%;
}
main .container-small {
    max-width: 100%;
    margin-right: auto;
    margin-left: 500px;

} 
main .container-big {
    max-width: 1140px;
    margin-right: auto;
    margin-left: 230px;
    padding: 20px 0;
    padding-right: 10px;
} 
main .container-big2 {
    margin-left: 230px;
    max-width: 1140px;
    margin-right: auto;
} 
main .subtitle {
    color: #696969;
    font-size: 12px;
    padding: 10px;
}
.container-big h2 {
    font-size: 20px;
    color: white;
    padding-left: 10px;
}
.main-nav ul li {
    color: #696969;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}
.main .col-small {
    width: calc(100% / 6 );
    margin: 0 10px;
}
.container-big .col-small {
}
.album-cover {
    width: 100%;
    aspect-ratio: 1;

}
.album-cover img {
    width: 100px;
    height: 100px;
    display: block;
}
.cover-title {
    text-align: center;
}
.album-title {
    color: white;
    font-weight: bold;
    padding: 10px 0;
}
.album-subtitle {
    color: #696969;
    font-size: 12px;
}
/******** MEDIA QUERY ********/
/* DESKTOP */
@media screen and (max-width: 1100px) {
    .main .col-small {
        flex-wrap: wrap;
        width: calc(100% / 4) ;
    }
    main .container-small {
        max-width: 100%;
        margin-right: auto;
        margin-left: 300px;
    
    } 

/* TABLET */
@media screen and (max-width: 700px) {

}
/* PHONE */
@media screen and (max-width: 600px) {

}
/******** /MEDIA QUERY ********/
