/*********************
        MAIN
*********************/
main {
    padding-top: 90px;
    width: calc(100% - 230px);
}
main .container-small {
    max-width: 650px;
    margin: auto;
} 
.main-nav ul li {
    color: #696969;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}


/******** MEDIA QUERY ********/
/* DESKTOP */
@media screen and (max-width: 1100px) {

}
/* TABLET */
@media screen and (max-width: 700px) {

}
/* PHONE */
@media screen and (max-width: 600px) {

}
/******** /MEDIA QUERY ********/
