/*********************
        FOOTER
*********************/

.player {
    background-color: #282828;
    height: 90px;
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    left: 0;
}
.col-big{
    max-width: 530px;
    width: 45%;
    padding: ;
}
.col-small{
    flex-grow: 1;
    width: 23%;
    padding: 20px 10px;
}
.player .cover img{
    width: 45px;
    height: 45px;
}
.player .brano {
    display: inline-block;
    padding: 10px 0;
    margin-left: -20px;
}
.player .brano .album {
    font-size: 12px;
    color: white;
    font-weight: bold;
}
.player .brano .name {
    font-size: 10px;
    color: #696969;
}
.player .favourite {
    color: #696969;
}
.player .favourite .heart {
    padding-left: 15px;
}
.player .favourite .folder {
    padding-left: 15px;
}
.player .volume-bar {
    width: 115px;
}
.player .option, .mirroring, .volume {
    color: #ffffff;
}
.player .player-central {
    width: 200px;
    height: 30px;
    margin: auto;
}
.player-central-timebar {
    padding: 10px ;
}
.player-central i {
    color: white;
    font-size: 20px;
}
.player-central .play i {
    font-size: 32px;
}
.player-central-time {
    padding: 10px 0;
}
.player-central-time .current-time, .total-time{
    color: white;
    font-size: 10px;
    font-weight: bold ;
}
.player-central-time .player-central-timebar hr {
    width: 100%;
    color: white;
}
.player-central-time .player-central-timebar {
    width: 80%;
}
/******** MEDIA QUERY ********/
/* DESKTOP */
@media screen and (max-width: 1100px) {

}
/* TABLET */
@media screen and (max-width: 700px) {

}
/* PHONE */
@media screen and (max-width: 600px) {

}
/******** /MEDIA QUERY ********/
